* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(114, 179, 174);
}

#box{
    height: 200px;
    width: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 5px solid #fff;
}

#color-code{
    height: 25px;
    width:170px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
    opacity: 90%;
    
}


#btn{
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
}
